<div class="container">
    <div class="row">
        <div class="col-10">
            <h3> Home Page </h3>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="card border-dark">
                        <h5 class="card-header">
                            Academic Record
                        </h5>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5>SSLC (Grade 10) :</h5>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 90%" title="SSLC : 95.2%">
                                            95.2%
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h5>HSC (Grade 12) :</h5>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                            role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 93%" title="HSC : 98.03%">
                                            98.03%
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h5>B.E ECE (Under Grad) :</h5>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                            role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 87%" title="B.E ECE : 92.9%">
                                            92.9%
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card border-dark">
                        <h5 class="card-header">
                            Work Experience
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>